/* Container */


/* Filter */

.filter {
    margin-top: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-title {
    font-size: 2.4rem;
    font-weight: 500;
    color: #404040;
}

.filter-sortbar {
    display: flex;
    align-items: center;
}

.sortbar-select {
    border: 1px solid #cacaca;
    height: 36px;
    text-align: center;
    color: #989898;
    min-width: 180px;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

#sortbar-menu-input:checked~.sortbar-menu {
    display: block;
}

.sortbar-label {
    font-size: 1.3rem;
    line-height: 3.6rem;
    margin-right: 8px;
}

.sortbar-select-icon {
    font-size: 1.3rem;
    line-height: 3.6rem;
}

.sortbar-menu {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: left;
    background-color: var(--white-color);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: none;
}

.sortbar-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    height: 8px;
}

.sortbar-item {
    padding: 8px;
    font-size: 1.3rem;
    height: 36px;
    line-height: 13px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    transition: all 0.2s;
}

.sortbar-item:hover {
    background-color: #ccc;
}

.sortbar-icon {
    display: none;
}

.sortbar-check .sortbar-icon {
    display: inline-block;
}

.sortbar-btn {
    height: 36px;
    line-height: 3.6rem;
    background-color: #d7d7d7;
    color: #3f3f3f;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.4s;
}

.sortbar-btn:hover {
    background-color: #bdbdbd;
}


/* Product */

.product-item {
    border: 1px solid #b7b7b7;
    margin-top: 24px;
    transition: all 0.2s;
    -webkit-tap-highlight-color: transparent;
}

.product-item:hover {
    transform: translateY(-2px);
}

.product-link {
    display: block;
}

.product-img {
    width: 100%;
}

.product-info {
    color: var(--text-color);
    border-top: 1px solid #b7b7b7;
    text-align: center;
    padding: 14px 8px;
}

.product-name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.product-price {
    font-size: 1.5rem;
}

.add-cart {
    display: block;
    color: var(--addCart-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 12px;
}


/* Page control */

.page-control {
    margin: 32px 0 64px;
}